<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>
    <link rel="stylesheet" href="/bootstrap-3.3.5-dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/common.css"/>
</head>
<body>
<div id="topbar">
    <h3>minitwitter</h3>
    <div class="tweetLink" >
    <a href="tweet" class="btn-primary" id="tweetLink">tweet</a>
    </div>
    <a href="logout" id="logoutLink">logout</a>
</div>
<div id="tweetContainer" class="container">
    <h3 class="error" id="error"></h3>
    <div id="tweet" class="tweet">
        <h2 id="author"></h2>
        <h3 id="contents"></h3>
        <hr/>
    </div>
</div>

<script src="/js/jquery-2.1.4.min.js"></script>
<script src="/js/js.cookie.js"></script>

<script src="/js/feed.js"></script>
</body>
</html>