<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>
    <link rel="stylesheet" href="bootstrap-3.3.5-dist/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <h2 id="message">Logging out..</h2>
    <h3 id="again"> <a href="login"> Login</a> again.</h3>
</div>

<script src="js/jquery-2.1.4.min.js"></script>
<script src="js/js.cookie.js"></script>

<script src="js/check.js"></script>
<script src="js/logout.js"></script>
</body>
</html>