<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>
    <link rel="stylesheet" href="/bootstrap-3.3.5-dist/css/bootstrap.min.css"/>
</head>
<body>
    <h2 id="name">  </h2>
    <h2 id="email">  </h2>
    <h2 id="followers">  </h2>
    <h2 id="following">  </h2>

    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/js.cookie.js"></script>
    <script src="/js/check.js"></script>
    <script src="/js/profile.js"></script>
</body>
</html>